/robotics_demo/data/*
/data/*
.ipynb_checkpoints
.idea
.vscode
__pycache__
config.py
/.idea/*
/__pycache__/*
/archive/*
/UR5Kitchen/Assets/Oculus/*
/UR5Kitchen/Assets/Complete_Home_Interior_Pack/*
/UR5Kitchen/Library/*